/* 
    This controls the appearance of the navbar for 
    NextJS Experiment 2's website!
*/


/* Controls arrangment of the navigation buttons! */
nav > ul{
    margin: 0;
    background-color: rgb(5, 16, 176);
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* Controls spacing between navigation buttons! */
nav > ul > li{
    margin: 1em;
}

/* Controls appearance of the navigation buttons! */
.navLinks{
    text-decoration: none;
    background-color: rgba(5, 43, 233, 0.824);
    color: whitesmoke;
    font-size: 2em;
    padding: 0.5em 1em; 
    border-radius: 25px;
}

/* Hover functionality for navigation buttons! */
.navLinks:hover{
    background-color: rgb(52, 117, 228);
}