.page{
    box-sizing: border-box;
}

.main{
    background-color: linear-gradient(#272767, #FA5F55);
    color: black;
    padding: 1em 4em;
}

.main h1{
    font-size: 200%;
    color: red;
}

.main p{
    font-size: 125%;
}
  