/* Add this to your global CSS or about.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 
    Controls how the content are arranged in the About page
    including the navbar. 
*/
.page {
    background-image: linear-gradient(#77e2ff, 75%, #EF5200);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.page > *:first-child {
    z-index: 10;
}

/* 
    Clear background to visibly see text content of About page
*/
.content{
    background: white;
    margin: 2em; 
    padding: 1% 2%;
    border-radius: 20px;
}

/* 
    Setting responsive font size of the text content in About page,
    so these text are easily readable
*/
.content h1{
    font-size: 3em;
}

.content h2{
    font-size: 2em;
}

.content p{
    font-size: 1.5em;
}
  
  


  